In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('StatsData.csv')
df

,Years,Months,Age (months),Grade,Driver License,Leave Campus for Lunch,Perception About Lunches,Predicted,Residual,Unnamed: 9,...,Unnamed: 20,Min,Q1,Med,Q3,Max,IQR,Mean,SD,Range
0,16,0,192,10,0,4,9,1.6306,2.3694,NaN,...,Driver License,0.0,0.0,6.0,16.5,29.0,16.5,8.543689,9.404605,29.0
1,15,11,191,10,0,0,8,1.6306,-1.6306,NaN,...,Leave Campus for Lunch,0.0,0.0,3.0,5.0,5.0,5.0,2.524272,2.042896,5.0
2,16,1,193,10,0,0,9,1.6306,-1.6306,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,8,188,10,0,1,8,1.6306,-0.6306,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,1,193,10,0,0,8,1.6306,-1.6306,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,15,9,189,10,0,3,8,1.6306,1.3694,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,15,1,181,10,0,2,8,1.6306,0.3694,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,15,10,190,10,0,4,10,1.6306,2.3694,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,15,6,186,10,0,1,3,1.6306,-0.6306,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,16,0,192,10,0,3,10,1.6306,1.3694,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df2 = df[['Age (months)', 'Grade', 'Driver License', 'Leave Campus for Lunch', 'Perception About Lunches']]

In [4]:
df2.head()

,Age (months),Grade,Driver License,Leave Campus for Lunch,Perception About Lunches
0,192,10,0,4,9
1,191,10,0,0,8
2,193,10,0,0,9
3,188,10,0,1,8
4,193,10,0,0,8

In [5]:
df3 = df2[['Driver License', 'Leave Campus for Lunch']]
df3.head()

   Driver License  Leave Campus for Lunch
0               0                       4
1               0                       0
2               0                       0
3               0                       1
4               0                       0

In [25]:
duplicates = df3[df3.duplicated()]
duplicates.reset_index(inplace=True)
duplicates

    index  Driver License  Leave Campus for Lunch
0       2               0                       0
1       4               0                       0
2       7               0                       1
3       8               0                       0
4      10               0                       3
5      11               0                       0
6      12               0                       0
7      13               0                       2
8      29               0                       3
9      31              18                       5
10     32               0                       2
11     33               0                       3
12     37              21                       5
13     39              18                       5
14     45               0                       0
15     46               0                       3
16     48               0                       0
17     49               0                       2
18     50               0                       1
19     51               0                       0
20     54              15                       5
21     55              18                       5
22     57              18                       5
23     61               7                       0
24     62              16                       5
25     63              18                       5
26     68              21                       5
27     70               0                       0
28     72               0                       0
29     73              19                       5
30     75              26                       5
31     77               0                       2
32     79               0                       3
33     81               0                       0
34     83               0                       1
35     85               0                       0
36     86               0                       1
37     87               0                       0
38     88               0                       4
39     89               0                       0
40     91               0                       5
41     92               0                       0
42     93               0                       4
43     94               0                       2
44     96               0                       2
45     97               0                       0
46     98               0                       3
47     99               0                       2
48    100               0                       4
49    101               0                       1
50    102               0                       3

In [28]:
same = []
dl = duplicates['Driver License']
lunch = duplicates['Leave Campus for Lunch']
print(dl.dtype)
for i in range(len(duplicates)):
    temp = [duplicates.at[i, 'Driver License'], duplicates.at[i, 'Leave Campus for Lunch']]
    if(same.count(temp)==0):
        same.append(temp)
    
print(same)

int64
[[0, 0], [0, 1], [0, 3], [0, 2], [18, 5], [21, 5], [15, 5], [7, 0], [16, 5], [19, 5], [26, 5], [0, 4], [0, 5]]

In [29]:
freq = {[0, 0]: 0, [0, 1]: 0, [0, 3]: 0, [0, 2]: 0, [18, 5]: 0, [21, 5]: 0, [15, 5]: 0, [7, 0]: 0, 
        [16, 5]: 0, [19, 5]: 0, [26, 5]: 0, [0, 4]: 0, [0, 5]: 0}

TypeError: unhashable type: 'list'